body {
  background: #000;
}

main {
  display: flex;
  height: 100vh;
}

.cronometro {
  width: 400px;
  height: 160px;
  margin: 0 auto;
  align-self: center;
  text-align: center;
  border: aliceblue double;
  text-shadow: 0 0 5px aliceblue, 0 0 10px aliceblue;
}
.boton {
  display: inline-block;
  width: 72px;
  height: 40px;
  margin: 16px 4px;
  border-radius: 10%;
  background: #000;
  color: aliceblue;
  text-shadow: 0 0 5px aliceblue;
}

#tiempo {
  height: 72px;
  padding: 8px 0;
  font-size: 48px;
  color: aliceblue;
}
